// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Typography
// - Embed font
// - Primary regular
// - Primary medium
// - Secondary regular
// - Secondary medium
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Embed font
// ============================================================

// Pridi
// ------------------------------------------------

// Regular
@font-face {
  font-family: $font-family-primary-regular;
  src: url('#{$path-file-fonts-primary-regular}.eot');
  src: url('#{$path-file-fonts-primary-regular}.eot') format('embedded-opentype'),
       url('#{$path-file-fonts-primary-regular}.woff') format('woff'),
       url('#{$path-file-fonts-primary-regular}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Medium
@font-face {
  font-family: $font-family-primary-medium;
  src: url('#{$path-file-fonts-primary-medium}.eot');
  src: url('#{$path-file-fonts-primary-medium}.eot') format('embedded-opentype'),
       url('#{$path-file-fonts-primary-medium}.woff') format('woff'),
       url('#{$path-file-fonts-primary-medium}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Prompt
// ------------------------------------------------

// Regular
@font-face {
  font-family: $font-family-secondary-regular;
  src: url('#{$path-file-fonts-secondary-regular}.eot');
  src: url('#{$path-file-fonts-secondary-regular}.eot') format('embedded-opentype'),
       url('#{$path-file-fonts-secondary-regular}.woff') format('woff'),
       url('#{$path-file-fonts-secondary-regular}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Medium
@font-face {
  font-family: $font-family-secondary-medium;
  src: url('#{$path-file-fonts-secondary-medium}.eot');
  src: url('#{$path-file-fonts-secondary-medium}.eot') format('embedded-opentype'),
       url('#{$path-file-fonts-secondary-medium}.woff') format('woff'),
       url('#{$path-file-fonts-secondary-medium}.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Primary
//
// Regular
// @include typography-primary-regular-12();
// @include typography-primary-regular-14();
// @include typography-primary-regular-16();
// @include typography-primary-regular-18();
//
// Medium
// @include typography-primary-medium-12();
// @include typography-primary-medium-14();
// @include typography-primary-medium-16();
// @include typography-primary-medium-18();
//
// ============================================================
@mixin typography-primary() {
  display: inline-block;
  font-weight: normal;
  line-height: $line-height-primary;
}

// Primary regular
// ------------------------------------------------
@mixin typography-primary-regular-12() {
  @include typography-primary;
  font-family: $font-family-primary-regular;
  font-size: $font-size-primary-12;
}

@mixin typography-primary-regular-14() {
  @include typography-primary;
  font-family: $font-family-primary-regular;
  font-size: $font-size-primary-14;
}

@mixin typography-primary-regular-16() {
  @include typography-primary;
  font-family: $font-family-primary-regular;
  font-size: $font-size-primary-16;
}

@mixin typography-primary-regular-18() {
  @include typography-primary;
  font-family: $font-family-primary-regular;
  font-size: $font-size-primary-18;
}

// Primary medium
// ------------------------------------------------
@mixin typography-primary-medium-12() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-12;
}

@mixin typography-primary-medium-14() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-14;
}

@mixin typography-primary-medium-16() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-16;
}

@mixin typography-primary-medium-18() {
  @include typography-primary;
  font-family: $font-family-primary-medium;
  font-size: $font-size-primary-18;
}

// Secondary
//
// Regular
// @include typography-secondary-regular-10();
// @include typography-secondary-regular-12();
// @include typography-secondary-regular-14();
//
// Medium
// @include typography-secondary-medium-16();
// @include typography-secondary-medium-20();
//
// ============================================================
@mixin typography-secondary() {
  display: inline-block;
  font-weight: normal;
  line-height: $line-height-secondary;
}

// Secondary regular
// ------------------------------------------------
@mixin typography-secondary-regular-10() {
  @include typography-secondary;
  font-family: $font-family-secondary-regular;
  font-size: $font-size-secondary-10;
}

@mixin typography-secondary-regular-12() {
  @include typography-secondary;
  font-family: $font-family-secondary-regular;
  font-size: $font-size-secondary-12;
}

@mixin typography-secondary-regular-14() {
  @include typography-secondary;
  font-family: $font-family-secondary-regular;
  font-size: $font-size-secondary-14;
}

// Secondary medium
// ------------------------------------------------
@mixin typography-secondary-medium-16() {
  @include typography-secondary;
  font-family: $font-family-secondary-medium;
  font-size: $font-size-secondary-16;
}

@mixin typography-secondary-medium-20() {
  @include typography-secondary;
  font-family: $font-family-secondary-medium;
  font-size: $font-size-secondary-20;
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
