// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Variables
// * Path files
// * Colors
// * Font families
// * Font sizes
// * Line heights
// * Letter spacings
// * Z indexs
// * Transition
// * Animation timings
// * Border radiuses
// * Box shadows
// * Components
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Path files
// ============================================================
$path-file-images: '../images' !default;
$path-file-fonts: '../fonts' !default;
$path-file-fonts-primary-regular: '../fonts/pridi/pridi-regular' !default;
$path-file-fonts-primary-medium: '../fonts/pridi/pridi-medium' !default;
$path-file-fonts-secondary-regular: '../fonts/prompt/prompt-regular' !default;
$path-file-fonts-secondary-medium: '../fonts/prompt/prompt-medium' !default;
$path-file-contents: '../images/contents' !default;
$path-file-icons: '../images/icons' !default;
$path-file-logos: '../images/logos' !default;

// Colors
// ============================================================
$color-black: #000000 !default;
$color-white: #FFFFFF !default;
$color-gray-1: #EEEEEE !default;
$color-gray-2: #333333 !default;
$color-gray-3: #AFAFAF !default;
$color-gray-4: #666666 !default;
$color-gray-5: #999999 !default;
$color-gray-6: #CCCCCC !default;
$color-red-1: #EF4C51 !default;
$color-red-2: #FFF8F8 !default;
$color-blue-1: #40AAF7 !default;
$color-blue-2: #048cec !default;
$color-primary: #EF4C51 !default;
$color-overlay-1: rgba(0, 0, 0, 0.65) !default;

// Font families
// ============================================================
$font-family-primary-regular: Pridi-Regular !default;
$font-family-primary-medium: Pridi-Medium !default;
$font-family-secondary-regular: Prompt-Regular !default;
$font-family-secondary-medium: Prompt-Medium !default;

// Font sizes
// ============================================================
// Primary body
$font-size-primary-12: 12px !default;
$font-size-primary-14: 14px !default;
$font-size-primary-16: 16px !default;
$font-size-primary-18: 18px !default;

// Secondary body
$font-size-secondary-10: 10px !default;
$font-size-secondary-12: 12px !default;
$font-size-secondary-14: 14px !default;
$font-size-secondary-16: 16px !default;
$font-size-secondary-20: 20px !default;

// Line heights
// ============================================================
$line-height-primary: 1.3 !default;
$line-height-secondary: 1.3 !default;

// Letter spacings
// ============================================================
$letter-spacing-primary: normal !default;
$letter-spacing-secondary: normal !default;

// Z indexs
// ============================================================
$z-index-1: 1 !default;
$z-index-2: 9 !default;
$z-index-3: 99 !default;
$z-index-4: 999 !default;
$z-index-5: 9999 !default;

// Transition
// ============================================================
$transition-default: all 0.3s ease !default;

// Animation timings
// ============================================================
$animation-timing-elastic: cubic-bezier(.835, -.005, .06, 1) !default;

// Border radiuses
// ============================================================
$border-radius-5: 5px !default;
$border-radius-10: 10px !default;

// Box shadows
// ============================================================
$box-shadow-1: 0 0 20px rgba(0, 0, 0, 0.1) !default;
$box-shadow-2: 0 0 5px rgba(0, 0, 0, 0.1) !default;
$box-shadow-3: 0 3px 7px rgba(0, 0, 0, 0.15) !default;

// Components
// ============================================================
$button-height: 35px !default;
$button-small-height: 30px !default;
$topbar-height: 55px !default;
