// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Backbar
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.backbar {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  align-items: center;
  margin: 0 0 20px;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .backbar-section {
    &.is-button-back {
      margin: 0 15px 0 0;
    }
  }

  .backbar-text {
    &.is-heading {
      @include typography-primary-medium-18;
      color: $color-gray-2;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
