// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Bulma custom components
// - Input
// - Button
// - Contianer
// - Section
// - Field
// - Panel
// - Modal panel
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.bulma-custom {
  // Input
  // ============================================================
  .input {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include typography-primary-regular-14();

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Button
  // ============================================================
  .button {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    @include typography-primary-regular-14();
    height: $button-height;
    padding-top: 0;
    padding-bottom: 0;

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-fluid {
      width: 100%;
    }

    // Color
    &.is-primary {
      background-color: $color-primary;
    }

    &.is-gray {
      background-color: $color-gray-3;
      border-color: $color-gray-3;
      color: $color-white;
    }

    &.is-red {
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-white;
    }

    &.is-link {
      height: 45px;
      background-color: transparent;
      color: $color-blue-1;
    }

    // Width
    &.is-width-100 {
      min-width: 100px;
    }

    &.is-back {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      padding: 0;
      background-color: $color-white;
      border: none;
      border-radius: 18px;
      box-shadow: $box-shadow-3;
    }

    // Size
    &.is-small {
      @include typography-primary-medium-12();
      height: $button-small-height;
      padding: 0 12px;
      border-radius: 4px;

      &.is-curve-border {
        border-radius: 15px;
      }
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Contianer
  // ============================================================
  .container {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-main-layout {
      min-height: 100vh;
      padding-top: $topbar-height;
    }

    &.is-content {
      padding: 30px;
    }

    &.is-content-mobile {
      max-width: 474px;
      padding: 50px 30px 110px;
      margin: auto;
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Section
  // ============================================================
  .section {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-reset {
      padding: 0;
    }

    &.is-content {
      padding: 30px;
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Column
  // ============================================================
  .columns {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    .column {
      &.is-narrow {
        flex: none
      }
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &.is-reset {
      display: flex;
      margin: 0;

      .column {
        padding: 0;
      }
    }

    &.is-vertical-center {
      align-items: center;
    }

    // Gutter
    &.is-gutter-5 {
      margin-left: -5px;

      .column {
        padding-left: 5px;
      }
    }

    &.is-gutter-10 {
      margin-left: -10px;

      .column {
        padding-left: 10px;
      }
    }

    &.is-gutter-15 {
      margin-left: -15px;

      .column {
        padding-left: 15px;
      }
    }

    &.is-gutter-30 {
      margin-left: -30px;

      .column {
        padding-left: 30px;
      }
    }

    // Block
    &.is-block {
      margin: 0;

      &:after {
        content: ' ';
        display: block;
        clear: both;
      }

      .column {
        padding: 0;
      }
    }

    &.is-block-space-between {
      .column {
        &:first-child {
          float: left;
        }

        &:last-child {
          float: right;
        }
      }
    }

    // Block width
    &.is-block-half {
      .column {
        width: 50%;
      }
    }

    &.is-info-datetime {
      .column {
        float: left;

        &:nth-child(1),
        &:nth-child(3) {
          width: 223px;
        }

        &:nth-child(2) {
          width: 1px;
        }
      }
    }


    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Field
  // ============================================================
  .field {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    .field-label {
      padding-top: 8px;

      .label {
        @include typography-primary-regular-14();
        color: $color-gray-2;
      }
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &.is-change-password {
      .field-label {
        flex-grow: 2;
      }
    }

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Panel
  // ============================================================
  .panel {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    padding: 15px;
    border: 1px solid $color-gray-3;
    border-radius: $border-radius-5;
    box-shadow: none;

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }

  // Modal
  // ============================================================
  .modal-content {
    // Parent styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    margin-right: auto;
    margin-left: auto;

    // Children styles
    // >>>>>>>>>>>>>>>>>>>>>>>
    .modal-container {
      width: 260px;
      margin-right: auto;
      margin-left: auto;
      background-color: $color-white;
      border-radius: $border-radius-10;
    }

    .modal-section {
      &.is-message {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        padding: 30px 15px;
      }

      &.is-buttons {
        border-top: 1px solid $color-gray-1;
      }
    }

    .modal-text {
      &.is-message {
        @include typography-secondary-regular-14();
        color: $color-gray-2;
        text-align: center;
      }
    }

    .modal-partition-line {
      &.is-confirm-buttons {
        position: relative;
        height: 100%;

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          z-index: $z-index-1;
          top: 0;
          left: 50%;
          width: 1px;
          height: 100%;
          background-color: $color-gray-1;
        }
      }
    }

    // Modifiers
    // >>>>>>>>>>>>>>>>>>>>>>>

    // Media queries
    // >>>>>>>>>>>>>>>>>>>>>>>
  }
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
