/*
// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// * Notify.js - v.0.4.2
//   - https://github.com/jpillora/notifyjs
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////
*/

.notifyjs-wrapper {
  .notifyjs-container {
    .notifyjs-validation-base {

      .notifyjs-icon,
      .notifyjs-message {}

      .notifyjs-icon {}


      &.notifyjs-validation-error {}
    }
  }
}
