// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// SigPad
// - https://github.com/thread-pond/signature-pad
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.sigpad-custom {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  text-align: center;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .sigPad {
    display: inline-block;
    width: auto;
  }

  .sigNav {
    height: auto;

    .clearButton {
      position: static;
      padding-top: 15px;
      text-align: center;

      a {
        @include typography-primary-regular-14();
        padding: 0;
      }
    }
  }

  .sigWrapper {
    display: inline-block;
    height: auto;


    &.current {
      border-color: $color-gray-2;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
