// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Title bar
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.titlebar {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid $color-primary;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .titlebar-name {
    @include typography-secondary-medium-20();
    width: 100%;
    color: $color-gray-2;
    text-align: right;
  }

  .titlebar-back {
    @include typography-primary-regular-14();
    margin-bottom: 10px;
    color: $color-blue-1;
  }

  .titlebar-logo {
    text-align: right;

    img {
      display: inline-block;
      width: auto;
      height: 26px;
    }
  }

  .titlebar-logo-name {
    @include typography-secondary-regular-10;
    width: 100%;
    margin-top: 3px;
    color: $color-gray-3;
    text-align: right;
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-no-line {
    border-bottom: none;
  }

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
