// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Topbar
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.topbar {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: $z-index-2;
  top: 0;
  right: 0;
  left:0;
  padding: 15px 30px;
  background-color: $color-primary;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .topbar-left {}

  .topbar-right {
    position: relative;
  }

  .topbar-main-menu {
    display: inline-block;

    img {
      position: relative;
      top: -1px;
    }
  }

  .topbar-user-menu {
    cursor: pointer;
  }

  .topbar-dropdown {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    z-index: $z-index-3;
    top: 100%;
    right: 0;
    width: 130px;
    padding: 15px;
    margin-top: 5px;
    background-color: $color-white;
    border-radius: $border-radius-5;
    box-shadow: $box-shadow-2;

    &.is-active {
      pointer-events: auto;
      visibility: visible;
    }
  }

  .topbar-dropdown-list {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .topbar-text {
    display: inline-block;

    &.is-username {
      @include typography-primary-regular-14();
      color: $color-white;
    }

    &.is-menu {
      @include typography-primary-regular-12();
      color: $color-primary;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
