// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Car reservation
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.car-reservation {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .car-reservation-container {
    width: 100%;
    max-width: 480px;
    margin: auto;
  }

  .car-reservation-section {
    &.is-title {
      margin-bottom: 5px;
    }

    &.is-content {
      margin-bottom: 30px;
    }

    &.is-list {
      margin-bottom: 10px;
    }
  }

  .car-reservation-text {
    &.is-right {
      text-align: right;
    }

    &.is-title {
      @include typography-secondary-medium-16();
      color: $color-gray-2;
    }

    &.is-label {
      @include typography-secondary-regular-12();
      width: 100%;
      margin-bottom: 5px;
      color: $color-gray-5;
    }

    &.is-info {
      @include typography-primary-medium-16();
      width: 100%;
      color: $color-gray-2;
    }

    &.is-info-highlight,
    &.is-info-highlight-link {
      @include typography-primary-medium-16();
      width: 100%;
      color: $color-blue-1;
    }

    &.is-info-highlight-link {
      &:focus,
      &:hover {
        color: $color-blue-2;
      }
    }


    &.is-info-warning {
      @include typography-primary-medium-16();
      width: 100%;
      color: $color-primary;
    }
  }

  .car-partition-line {
    &.is-datetime {
      position: relative;
      height: 100%;
      padding-right: 10px;
      padding-left: 10px;

      &:after {
        content: ' ';
        display: block;
        position: absolute;
        z-index: $z-index-1;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: $color-gray-3;
      }
    }

    &.is-info {
      height: 1px;
      background-color: $color-gray-3;
      margin-bottom: 10px;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
