// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Change password
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.change-password {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .change-password-section {
    &.is-fields {
      max-width: 480px;
      margin-bottom: 30px;
    }

    &.is-buttons {
      display: flex;
      justify-content: flex-end;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
  .change-password-section {
    &.is-buttons {
      @media (max-width: 414px) {
        justify-content: center;
        padding-top: 15px;
      }
    }
  }
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
