// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Login
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.login {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  background-color: $color-gray-1;

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 15px;
    padding-left: 15px;
    background-color: $color-gray-1;
  }

  .login-form {
    width: 100%;
    max-width: 320px;
    padding: 30px;
    background-color: $color-white;
    border-radius: $border-radius-10;
    box-shadow: $box-shadow-1;
  }

  .login-section {
    &.is-field {
      margin-bottom: 15px;
    }

    &.is-button {
      padding-top: 15px;
      margin-bottom: 15px;
    }

    &.is-forget-password {
      text-align: right;
    }

    &.is-back {
      text-align: center;
    }

    &.is-title {
      margin-bottom: 15px;
      text-align: right;
    }
  }

  .login-text {
    &.is-link {
      @include typography-primary-regular-12();
      color: $color-blue-1;
    }

    &.is-title {
      @include typography-secondary-medium-20();
      color: $color-gray-2;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
