// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Payment
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.payment {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .payment-section {
    &.is-heading {
      margin: 0 0 10px;
    }

    &.is-heading-signature {
      margin: 0 0 5px;
    }

    &.is-label {
      margin: 0 0 5px;
    }

    &.is-datetime {
      margin: 0 0 10px;
    }

    &.is-position {
      margin: 0 0 10px;
    }

    &.is-promocode {
      margin: 0 0 10px;
    }

    &.is-credit {
      margin: 0 0 10px;
    }

    &.is-button-calculation {
      padding: 10px 0;
      text-align: center;
    }

    &.is-signature {
      margin: 0 0 20px;
    }

    &.is-clear {
      margin: 0 0 20px;
      text-align: center;
    }

    &.is-form-distance {
      margin: 0 0 10px;
    }

    &.is-label-distance {
      margin: 0 0 5px;
    }
  }

  .payment-text {
    &.is-heading {
      @include typography-primary-medium-18;
      color: $color-gray-2;
    }

    &.is-total-price {
      @include typography-primary-medium-18;
      color: $color-red-1;
    }

    &.is-highlight {
      @include typography-primary-medium-16;
      color: $color-blue-1;
    }

    &.is-datetime {
      @include typography-primary-medium-16;
      color: $color-gray-6;
    }

    &.is-label {
      @include typography-primary-medium-12;
      color: $color-gray-2;
    }

    &.is-label-total {
      @include typography-primary-medium-18;
      color: $color-gray-2;
    }

    &.is-label-black {
      @include typography-primary-medium-14;
      color: $color-gray-2;
    }

    &.is-info {
      @include typography-primary-regular-14;
      color: $color-gray-6;
    }

    &.is-info-small {
      @include typography-primary-regular-12;
      color: $color-gray-6;
    }

    &.is-info-black {
      @include typography-primary-regular-14;
      color: $color-gray-2;
    }

    &.is-button-small {
      @include typography-primary-regular-12;
      color: $color-white;
    }

    &.is-link {
      @include typography-primary-medium-12;
      color: $color-blue-1;
      text-decoration: underline;
    }
  }

  .payment-line {
    &.is-partition {
      padding: 0 0 5px;
      margin: 0 0 5px;
      border-bottom: 1px solid $color-gray-4;
    }
  }

  .payment-lists {
    &.is-detail {
      margin: 0 0 10px;

      .payment-list {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .payment-input {
    &.is-distance {
      @include typography-primary-medium-14;
      width: 100%;
      padding: 0 10px;
      height: 32px;
      background-color: $color-red-2;
      border: none;
      border-radius: 6px;
      color: $color-gray-2;
      text-align: right;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
