// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Signature
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.signature {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .signature-section {
    &.is-signature {
      margin-bottom: 30px;
    }

    &.is-buttons {
      display: flex;
      justify-content: center;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
