// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Slip
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.slip {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .slip-container {
    width: 100%;
    max-width: 360px;
    margin: auto;
  }

  .slip-section {
    &.is-logo {
      margin-bottom: 30px;
      text-align: center;
    }

    &.is-info {
      margin-bottom: 10px;
    }

    &.is-signature {}
  }

  .slip-image {
    &.is-logo {
      display: inline-block;
      width: 100px;
      height: auto;
      margin-right: 5px;
    }
  }

  .slip-text {
    &.is-logo-name {
      @include typography-secondary-medium-20;
      position: relative;
      top: 14px;
      color: $color-primary;
    }

    &.is-label {
      @include typography-primary-medium-14;
      color: $color-gray-2;
    }

    &.is-info {
      @include typography-primary-regular-14;
      width: 100%;
      color: $color-gray-4;
      text-align: right;
    }
  }

  .slip-partition-line {
    &.is-info {
      border-bottom: 1px solid $color-gray-3;
      padding-top: 5px;
      margin-bottom: 10px;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
