// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Work sheet
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.work-sheet {
  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Children styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .work-sheet-container {
    width: 100%;
    max-width: 480px;
    margin: auto;
  }

  .work-sheet-section {
    &.is-title {
      margin-bottom: 5px;
    }

    &.is-content {
      margin-bottom: 30px;
    }

    &.is-list {
      margin-bottom: 10px;
    }

    &.is-relative {
      position: relative;
    }
  }

  .work-sheet-text {
    &.is-right {
      text-align: right;
    }

    &.is-center {
      text-align: center;
    }

    &.is-title {
      @include typography-secondary-medium-20();
      color: $color-gray-2;
    }

    &.is-title-info {
      @include typography-secondary-medium-16();
      position: relative;
      top: 3px;
      width: 100%;
      color: $color-gray-2;
    }

    &.is-label {
      @include typography-secondary-regular-12();
      width: 100%;
      margin-bottom: 5px;
      color: $color-gray-5;
    }

    &.is-info {
      @include typography-primary-medium-16();
      width: 100%;
      color: $color-gray-2;
    }

    &.is-info-highlight,
    &.is-info-highlight-link {
      @include typography-primary-medium-16();
      width: 100%;
      color: $color-blue-1;
    }

    &.is-info-highlight-link {
      &:focus,
      &:hover {
        color: $color-blue-2;
      }
    }


    &.is-info-warning {
      @include typography-primary-medium-16();
      width: 100%;
      color: $color-primary;
    }
  }

  .work-sheet-line {
    &.is-datetime {
      width: 1px;
      min-height: 43px;
      height: calc(100% - 30px);
      background-color: $color-gray-3;
    }

    &.is-info {
      height: 1px;
      background-color: $color-gray-3;
      margin-bottom: 10px;
    }

    &.is-time,
    &.is-mile {
      display: inline-block;
      border-bottom: 1px solid $color-gray-3;
    }

    &.is-time {
      width: 65px;
      text-align: center;
    }

    &.is-mile {
      width: 130px;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// ============================================================
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
